@use '../../assets/variables';

.form-description {
    font-family: variables.$default-font;
    font-weight: 400;
    opacity: 0.5; 
    font-size: 16px;
    line-height: 25px;
    max-width: 95%;
}